<div class="container padding-on-top padding-on-left" (window:resize)="onResize($event)">

  <div class="well">
    <h4> User data </h4>
  </div>

  <div class="text-center" *ngIf="data.length <= 0">
    <div class="alert alert-danger" role="alert">No Data available. Use "Add Data" to add some data.</div>
  </div>

  <div class="table-responsive desktop" *ngIf="data.length > 0">
    <table class="table table-full-stripped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 45%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
            <th style="width: 5%">
                Delete
            </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
            <td [routerLink]="['/updateUser', item.name, item.email, item.age, item.city]"><b>{{item.name}}</b></td>
            <td [routerLink]="['/updateUser', item.name, item.email, item.age, item.city]">{{item.email}}</td>
            <td [routerLink]="['/updateUser', item.name, item.email, item.age, item.city]">{{item.age}}</td>
            <td [routerLink]="['/updateUser', item.name, item.email, item.age, item.city]">{{item.city | uppercase}}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteData(item.name, item.email, item.age, item.city)">x</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="mobile" *ngIf="data.length > 0 && windowWidth < 769" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="getMoreData()">
    <h1 class="title well"><small>{{count}}</small></h1>
    <div class="container user-block" *ngFor="let item of mobileData">
      <div class="col-xs-10 user-detail" [routerLink]="['/updateUser', item.name, item.email, item.age, item.city]">
        <b>Name:</b> {{item.name}}<br>
        <b>Email:</b> {{item.email}}<br>
        <b>Age:</b> {{item.age}}<br>
        <b>City:</b> {{item.city}}<br>
      </div>
      <div class="col-xs-2 delete-user-detail">
        <button type="button" class="btn btn-danger" (click)="deleteData(item.name, item.email, item.age, item.city)">x</button>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="postData()" class="form-horizontal">
          <div class="modal-header">
            <div class="app-modal-header">
              Add Data
            </div>
          </div>
          <div class="modal-body">
            <div class="app-modal-body">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" name="name" placeholder="Name" [(ngModel)]="name" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" name="email" placeholder="Email" [(ngModel)]="email" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAge" class="col-sm-2 control-label">Age</label>
                <div class="col-sm-10">
                  <input type="number" name="age" placeholder="Age" [(ngModel)]="age" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputCity" class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                  <input type="text" name="city" placeholder="City" [(ngModel)]="city" class="form-control" required>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="app-modal-footer">
              <button type="button" class="btn btn-default" (click)="clearData()">Close</button>
              <button type="submit" class="btn btn-primary">Add Data</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
