<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/home']" class="navbar-brand">Angular2 Demo</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/datatable']">Client Side Pagination</a></li>
        <li><a [routerLink]="['/infiniteScroll']">Server Side Pagination</a></li>
        <!--<li><a href="#contact">Contact</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<h1 class="title well"><small>{{count}}</small></h1>

<div class="container">

  <div class="well">
    <h4>Angular2 - Lazy Load Data Demo</h4>
  </div>

  <ul class="list-group" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="getMoreData()">
    <li *ngFor="let item of data" class="list-group-item list-group-height">
      <b>Service:</b> {{item.service}}
    </li>
  </ul>

</div>
